<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Ranking - Scoreboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="bg-white shadow mb-4">
        <div class="container mx-auto flex justify-between items-center p-4">
          <a href="/" class="text-xl font-bold">🏠 Trang chủ</a>
          <div class="flex space-x-4">
            <a href="/overall_ranking" class="text-gray-700 hover:text-blue-500">Bảng xếp hạng</a>
            <a href="/contest_detail" class="text-gray-700 hover:text-blue-500">Chi tiết cuộc thi</a>
          </div>
        </div>
      </nav>
    <div class="container">
        <h1>Power Ranking</h1>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Handle</th>
                    <th>Solved Problems</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ranking %}
                <tr>
                    <td>{{ loop.index }}</td>  <!-- Use loop.index to get the rank -->
                    <td>{{ item[0] }}</td>  <!-- item[0] is the handle -->
                    <td>{{ item[1] }}</td>  <!-- item[1] is the solved problems -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
